@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./img/download.jpeg);
    background-size: cover;
}
.contact .content {
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contacatInfo{
    width: 50%;
    display:  flex;
    flex-direction: column;
}
.container .contacatInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contacatInfo .box .icons{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contacatInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 19px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.container .contacatInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contacatForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contacatForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contacatForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contacatForm .inputbox input,
.contacatForm .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2PX Solid #333;
    outline: none;
    resize: none;
}
.contacatForm .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contacatForm .inputbox input:focus ~ span,
.contacatForm .inputbox input:valid ~ span,
.contacatForm .inputbox textarea:focus ~ span,
.contacatForm .inputbox textarea:valid ~ span{

    color: #e91e63;
    font-size: 13px;
    transform: translateY(-20px);
}
.contacatForm .inputbox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width:991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }    
    .container .contacatInfo{
        margin-bottom: 40px;
    }
    .container .contacatInfo,
    .contacatForm{
        width: 100%;
    }
}

#navbar-color{
    background-color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;

}
.nav-link{
    margin-left: 30px;
    font-weight: bold;
    color: black;
    transition: 0.5s ease;
    cursor: pointer;
    color: #00f271;
}
.nav-link:hover{
    color: rgb(221, 36, 238);
}
/*soceal link*/
.hero{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}
h1{
    font-size: 40px;
    color: wheat;
    margin-top: -10px;
    margin-bottom: 40px;
}
.social-link{
    display: flex;
}
.social-link a {
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration:none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba( 0,0,0,0.05 );
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition:  0.5s;
}
.social-link a .fa-brands{
    font-size: 30px;
    line-height: 80px;
    position: relative;
    z-index: 10;
    transition: color 0.5s ;
}
.social-link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: -90;
    left: 0;
    background: linear-gradient(-45deg, #49fcd5, #e7de75);
    position: absolute;
    transition: transform 0.5s;
}
.social-link a:hover::after{
    top: 0;
}
.social-link a :hover .fa-brands{
    color: rgb(255, 255, 255);
}
.social-link a:hover{
    transform: translateY(-10px)
}










